.site-logo {
    width: 10rem;
}

.header {
    background-image: linear-gradient(to right, #635dc0, #3027ae);
    width: 100%;
 }
 .css-1t6c9ts {
     justify-content: right;
}

.header > .margin-right {
    /* width: 80%; */
}

@media  screen and (max-width: 1000px) {
    
}